{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<script type="text/javascript">
  function recordOutboundLink(link) {
    try {
      _gaq.push(['_trackEvent', "Outbound Click", link.href, 0]);
      setTimeout('document.location = "' + link.href + '"', 100);
    }catch(err){}
  }

  var a = document.getElementsByTagName('a');
  for (i = 0; i < a.length; i++){
    if (a[i].href.indexOf(location.host) == -1 && a[i].href.match(/^http:\/\//i)) {
      a[i].onclick = function(){
        recordOutboundLink(this);
      }
    }
  }
  (function() {
    document.querySelector("audio").addEventListener("play", function(e) {
      _gaq.push(["_trackEvent","Audio", e.type, this.currentSrc, 1]);
      } ,false);
  })();
</script>
